
{{#if started}}

  <div class="mainText">
    <h1>{{config.mainTitle}}</h1>
    <p>{{config.mainText}}</p>
  </div>

  {{> clock}}

  <div id="mycontent">

    <p id="retry">{{config.feedback}}</p>
    <p id="myprize">{{config.win}}</p>

    <form id="myform" method="POST" action="/check">
      <input id="mykey" type="text" name="key" placeholder="{{config.placeholder1}}"/>
      <input id="mycode" type="text" name="code" placeholder="{{config.placeholder2}}"/>
      <button class="sendBtn" type="submit">{{config.btnSend}}</button>
    </form>
  </div>

  <button id="mytest" type="button" style="visibility:hidden;">Get Code</button>

{{else}}

  <div class="mainText centered neoned">
    <h1>{{config.noStarted}}</h1>
  </div>

{{/if}}
