<div class="container">

  {{#if started}}
    {{!-- VOLUME BUTTON --}}
    <div id="volumeBtn"><span id="volumeIcon" class="fa fa-volume-up"></span></div>

    {{!-- CLUE BUTTON --}}
    <div id="clueBtn"><a href="{{config.help}}" target="_blank"><span id="clueIcon" class="fa fa-question-circle"></span> {{!-- ¿Necesitas ayuda? --}} </a></div>

    <div class="mainText">
      <h1>{{config.mainTitle}}</h1>
      <p>{{config.mainText}} <a href="{{config.videoPage}}" target="_blank">vídeo</a>.</p>
      <p class="repository">{{config.repositoryText}}<a class="" target="_blank" href="{{config.boomRepository}}">github</a>.</p>
      <br/>
      <p>{{config.surveyText}} <a target="_blank" href="{{config.surveyLink}}">encuesta</a>.</p>
    </div>
    {{> clock}}
    <div id="mycontent">

      <p id="retry">{{config.feedback}}</p>
      <p id="myprize">{{config.win}}
      <br/>

      </p>

      <form id="myform" method="POST" action="/check">
        <input id="mykey" type="text" name="key" placeholder="{{config.placeholder1}}"/>
        <input id="mycode" type="text" name="code" placeholder="{{config.placeholder2}}"/>
        <button class="sendBtn" id="deactivate" type="submit">{{config.btnSend}}</button>
      </form>
    </div>

    <button id="mytest" type="button">Get Code</button>

  {{else}}

    <div class="mainText centered neoned">
      <h1>{{config.noStarted}}</h1>
    </div>

  {{/if}}

</div>


{{#if started}}
  <script type="text/javascript">
    var rem_time = {{rem_time}};
  </script>
  <script src="/javascripts/close_window.js"></script>
  <script src="/javascripts/main_page.js"></script>
  <script src="/javascripts/chrono.js"></script>
{{/if}}
